{% extends 'layout.html' %} {% block title %} Login{% endblock title %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form action="{% url 'myapp:login' %}" method="post" class="form-group">
                        {% csrf_token %}
                        <div class="form-label-group">
                            <input type="type" id="username" name="username" class="form-control" placeholder="Username" required autocomplete="off" autofocus>
                            <label for="username">Username</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                            <label for="password">Password</label>
                        </div>

                        <div class="custom-control custom-checkbox mb-2">
                            <label for="usercheck"><input type="checkbox" name="usercheck" value=""> Remember Me</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                    </form>
                    <hr class="my-4">
                    <button class="btn btn-lg btn-block" id="red" href="{% url 'myapp:password_reset' %}" type="submit"><i class="fa fa-key mr-2"></i>Forgot Password</button>
                    <button class="btn btn-lg btn-block" id="blues" href="{% url 'myapp:register' %}" type="submit"><i class="fa fa-user-plus  mr-2"></i> Register here..</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
